<!---
---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

-->

---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% assign teaching_pages = site.teaching reversed %}
{% for post in teaching_pages %}
  <section class="archive__item">
    <h2 class="archive__item-title">
      <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
    </h2>

    {% if post.venue %}
      <p><i>{{ post.venue }}</i></p>
    {% endif %}

    <div class="archive__item-excerpt">
      {{ post.content }}
    </div>

    <hr>
  </section>
{% endfor %}
